<a href="https://colab.research.google.com/github/avelasqu/Mortality-in-USA/blob/master/AutismHomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from altair import Chart
import pandas as pd

In [0]:
autism_data = pd.read_csv('https://raw.githubusercontent.com/avelasqu/Autism/bfb03718a8a03d4dcfe9e329d67be36ede9272f3/ADV_AllData.csv?token=ANSLAI6BU5G5Q67RMDTNZ5S5YIA44')

In [7]:
autism_data.head()

  National Prevalence Estimates Unnamed: 1  ... Unnamed: 5 Unnamed: 6
0                        Source       Year  ...        NaN        NaN
1                          addm       2000  ...        NaN        NaN
2                          addm       2002  ...        NaN        NaN
3                          addm       2004  ...        NaN        NaN
4                          addm       2006  ...        NaN        NaN

[5 rows x 7 columns]

In [8]:
autism_data.tail()

     National Prevalence Estimates Unnamed: 1  ... Unnamed: 5 Unnamed: 6
1733                            VT      74108  ...       2016       sped
1734                            VA    1162945  ...       2016       sped
1735                            WA    1006676  ...       2016       sped
1736                            WV     239037  ...       2016       sped
1737                            WY      85922  ...        NaN        NaN

[5 rows x 7 columns]

In [1]:
Chart(autism_data).mark_point().encode(
    x='Estimates:N',
    y='Unnamed: 1:Q'
)

NameError: ignored